<form class="flex flex-col items-center justify-center">
  <input type="email" placeholder="Input your email" class="input mb-5 w-[400px]" />
  <input type="password" placeholder="Input your password" class="input w-[400px]" />
</form>
<div class="mt-10 flex items-center justify-center">
  <button class="btn mr-4 border-[#e5e5e5] bg-white text-black" (click)="showLoginBlock()">
    Return to login
  </button>
  <button class="btn border-[#e5e5e5] bg-white text-black" (click)="register()">
    Register user
  </button>
</div>
